.create-project-container {
    height: 20rem;
    border:1px soli;
    border-radius: .3rem;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.67);
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.67);
}