.project-container {
  border: 1px soli;
  min-height: 20rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.67);
  .filledInput {
    background-color: #e2e2e2;
  }
  .btn-group {
    .dropdown-menu.show {
      top: -18px !important;
      left: 8px  !important;
      .dropdown-item:active {
        background-color: #e9ecef;
      }
    }
  }
  .removeBtn {
    display: flex;
    align-items: center;
    height:50%;
    border:1px solid black;
    border-radius: .3rem;
    padding:.2rem .5rem;
    text-decoration: none;
    svg {
      margin-left: .3rem;
    }
  }
  .saveBtn {
    display: flex;
    align-items: center;
    height: 50%;
    border:1px solid black;
    border-radius: .3rem;
    padding:.2rem .5rem;
    text-decoration: none;
    svg {
      margin-left: .3rem;
    }
  }
  .todo-list-container {
    ul {
      .list-group-item {
        padding-right: 0.5rem;
        a {
          cursor: pointer;
          &:hover {
            color: #dc3545;
          }
        }
      }
    }
    input[type="checkbox"] {
      width: 1rem;
      height: 1rem;
      margin-top: 0px;
    }
  }
}

.genel {
  border-top: 1rem solid #28a745;
}
.is {
  border-top: 1rem solid #17a2b8;
}
.kisisel {
  border-top: 1rem solid #dc3545;
}
.okul {
  border-top: 1rem solid #ffc107;
}
